.about
    background-color: #1B5B31
    color: #F5F0EC
    span
        font-size: 12px
    h2
        font-size: 34px
    p
        font-size: 14px
    button
        font-size: 14px
        color: #F5F0EC
        border: 1px solid #F5F0EC
        i
            vertical-align: middle
            font-size: 24px