.about
    background-color: #1B5B31
    color: #F5F0EC
    span
        @include font-size(.81rem)
        @media screen and (min-width: 768px) and (orientation: portrait)
            @include font-size(1rem)
    h2
        @include font-size(3.6rem)
    p
        @include font-size(.88rem)
        @media screen and (min-width: 768px) and (orientation: portrait)
            @include font-size(1rem)
    button
        @include font-size(.88rem)
        color: #F5F0EC
        border: 1px solid #F5F0EC
        @media screen and (min-width: 768px) and (orientation: portrait)
            @include font-size(1rem)
        i
            vertical-align: middle
            font-size: 24px