.offer
    background-color: #F5F0EC
    span
        @include font-size(.81rem)
        @media screen and (min-width: 768px) and (orientation: portrait)
            @include font-size(1rem)
    h2
        @include font-size(3.6rem)
    p
        @include font-size(.88rem)
        @media screen and (min-width: 768px) and (orientation: portrait)
            @include font-size(1rem)
    .offer-cards
        .card
            border: none
        img
            width: 25px
            margin-left: 15px
        p
            @include font-size(.88rem)
            line-height: 18px
            @media screen and (min-width: 768px) and (orientation: portrait)
                @include font-size(.92rem)
        a
            @include font-size(.78rem)
            color: #1B5B31
            border-bottom: 1px solid #1B5B31
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            @media screen and (min-width: 768px) and (orientation: portrait)
                @include font-size(.85rem)
            i
                vertical-align: middle 