.offer
    background-color: #F5F0EC
    .offer-description
        @media screen and (min-width: 1280px) and (orientation: landscape)
            padding: 4.2rem !important
            margin-left: 3.2rem
            width: 75%
        @media screen and (min-width: 1440px) and (orientation: landscape)
            margin-left: 3.6rem
            width: 65%
        span
            font-family: 'Inter', sans-serif
            @include font-size(.81rem)
            @media screen and (min-width: 768px) and (orientation: portrait)
                @include font-size(1rem)
        h2
            @include font-size(3.6rem)
            @media screen and (min-width: 1280px) and (orientation: landscape)
                @include font-size(2.8rem)
        p
            @include font-size(.88rem)
            font-family: 'Inter', sans-serif
            @media screen and (min-width: 768px) and (orientation: portrait)
                @include font-size(1rem)
    .offer-cards
        .card
            border: none
            transition: transform .5s
            &:hover
                cursor: pointer
                transform: scale(1.05)
        img
            width: 25px
            margin-left: 15px
        p
            @include font-size(.88rem)
            line-height: 18px
            font-family: 'Inter', sans-serif
            @media screen and (min-width: 768px) and (orientation: portrait)
                @include font-size(.92rem)
        a
            @include font-size(.78rem)
            font-family: 'Inter', sans-serif
            color: #1B5B31
            border-bottom: 1px solid #1B5B31
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            @media screen and (min-width: 768px) and (orientation: portrait)
                @include font-size(.85rem)
            i
                vertical-align: middle 