.realizations
    background-color: #DCC1AB
    span
        font-size: 12px
    h2
        font-size: 34px
    .macy-container
        .more
            display: none
    .overlay
        margin-top: -700px
        height: 700px
        background: linear-gradient(0deg, rgba(220,193,171,1) 10%, rgba(255,255,255,0) 100%)
        opacity: .98
        .btn
            position: relative
            left: 50%
            transform: translateX(-50%)
            top: 85%
            font-size: 14px

