<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Task - adRespect</title>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="0" class="scrollspy" tabindex="0">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><span class="fw-bold">giard</span>design</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body me-xl-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Oferta
                      <i class="bi bi-chevron-down" style="font-size: .8rem; vertical-align: middle;"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Projekt</a></li>
                      <li><a class="dropdown-item" href="#">Aranżacja</a></li>
                      <li><a class="dropdown-item" href="#">Wizualizacja</a></li>
                    </ul>
                  </li>
              <li class="nav-item">
                <a class="nav-link text-body me-xl-3" href="#about">O firmie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body me-xl-3" href="#realizations">Realizacje</a>
              </li>
              <li class="nav-item me-xl-4">
                <a class="nav-link text-body" href="#contact">Kontakt</a>
              </li>
            </ul>
            <div class="search">
                <input type="text" placeholder=" ">
                <div>
                    <svg>
                        <use xlink:href="#path">
                    </svg>
                </div>
            </div>
                
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
                    <path d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562" transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
                </symbol>
            </svg>
                
            <a class="dribbble" href="https://dribbble.com/shots/5547403-Search-input-animation" target="_blank"><img src="https://dribbble.com/assets/logo-small-2x-9fe74d2ad7b25fba0f50168523c15fda4c35534f9ea0b1011179275383035439.png" alt=""></a>
          </div>
        </div>
    </nav>
    <header>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="100000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid text-center p-0">
                        <div class="row flex-column">
                            <div class="header-description container px-4 py-5 px-sm-5 mx-xl-0 text-xl-start">
                                <h1 class="p-2 d-xl-flex flex-xl-column"><span>Nowoczesna aranżacja </span><span>Twojego ogrodu</span></h1>
                                <p class="py-3 py-xl-4 px-2">Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji. Oferujemy kompleksowy zakres usług z indywidualnym podejściem do każdego projektu.</p>
                                <div class="buttons-container d-flex flex-column flex-xl-row justify-content-xl-start align-items-center mt-xl-5">
                                    <a type="button" class="btn rounded-pill btn-contact" href="#contact">Skontaktuj się z nami</a>
                                    <a type="button" class="btn mt-3 mt-xl-0 ms-xl-4 rounded-pill btn-realisation" href="#realizations">Zobacz nasze realizacje <i class="bi bi-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="header-photo-container p-0 mt-sm-3 mt-xl-0" style="background-image:url(../images/garden1.jpg);">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid text-center p-0">
                        <div class="row flex-column">
                            <div class="header-description container px-4 py-5 px-sm-5 mx-xl-0 text-xl-start">
                                <h1 class="p-2 d-xl-flex flex-xl-column"><span>Nowoczesna aranżacja </span><span>Twojego ogrodu</span></h1>
                                <p class="py-3 py-xl-4  px-2">Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji. Oferujemy kompleksowy zakres usług z indywidualnym podejściem do każdego projektu.</p>
                                <div class="buttons-container d-flex flex-column flex-xl-row justify-content-xl-start align-items-center mt-xl-5">
                                    <a type="button" class="btn rounded-pill btn-contact" href="#contact">Skontaktuj się z nami</a>
                                    <a type="button" class="btn mt-3 mt-xl-0 ms-xl-4 rounded-pill btn-realisation" href="#realizations">Zobacz nasze realizacje <i class="bi bi-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="header-photo-container p-0" style="background-image:url(../images/garden2.jpg);">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid text-center p-0">
                        <div class="row flex-column">
                            <div class="header-description container px-4 py-5 px-sm-5 mx-xl-0 text-xl-start">
                                <h1 class="p-2 d-xl-flex flex-xl-column"><span>Nowoczesna aranżacja </span><span>Twojego ogrodu</span></h1>
                                <p class="py-3 py-xl-4  px-2">Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji. Oferujemy kompleksowy zakres usług z indywidualnym podejściem do każdego projektu.</p>
                                <div class="buttons-container d-flex flex-column flex-xl-row justify-content-xl-start align-items-center mt-xl-5">
                                    <a type="button" class="btn rounded-pill btn-contact" href="#contact">Skontaktuj się z nami</a>
                                    <a type="button" class="btn mt-3 mt-xl-0 ms-xl-4 rounded-pill btn-realisation" href="#realizations">Zobacz nasze realizacje <i class="bi bi-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="header-photo-container p-0" style="background-image:url(../images/garden3.jpg);">
                        </div>
                    </div>
                </div>
            </div>
            <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </header>
    <main class="offer">
        <div class="container pb-4">
            <div class="row pb-5">
                <div class="offer-description p-5 text-center text-xl-start">
                    <span>Oferta</span>
                    <h2 class="my-4">Działamy kompleksowo</h2>
                    <p>Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie posłużymy radą i wieloletnim doświadczeniem. </p>
                </div>
                <div class="offer-cards d-md-flex flex-wrap">
                    <div class="card rounded-4 mx-auto p-4" style="width: 20rem;">
                        <img src="../images/Icon.png" class="card-img-top mb-2" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Projekty</h5>
                          <p class="card-text">Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym wykorzystaniem istniejącej przestrzeni.</p>
                          <a href="#" class="btn mt-4 p-0">Dowiedz się więcej <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                      </div>
                      
                      <div class="card rounded-4 mx-auto p-4 mt-4 mt-md-0" style="width: 20rem;">
                        <img src="../images/Icon2.png" class="card-img-top mb-2" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Wizualizacje</h5>
                          <p class="card-text">Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego spaceru animowanego w technologii 3D.</p>
                          <a href="#" class="btn mt-4 p-0">Dowiedz się więcej <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                      </div>

                      <div class="card rounded-4 mx-auto p-4 mt-4 mt-xl-0" style="width: 20rem;">
                        <img src="../images/Icon3.png" class="card-img-top mb-2" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Realizacje</h5>
                          <p class="card-text">Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i zaawansowanych technologii.</p>
                          <a href="#" class="btn mt-4 p-0">Dowiedz się więcej <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </main>
    <section class="about" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="about-photo p-0">
                    <img src="../images/about-garden.jpg" alt="garden" class="w-100">
                </div>
                <div class="about-description p-5 text-center text-xl-start col-sm-11 mx-sm-auto">
                    <span>O firmie</span>
                    <h2 class="my-4">Tworzymy z pasją</h2>
                    <p class="my-xl-5">Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą wykwalifikowani projektanci oraz architekci, których zadaniem jest rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja to przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i elegancka prostota. Tworzymy ogrody małoobsługowe, dostosowane do współczesnego trybu życia.</p>
                    <a type="button" class="btn mt-3 rounded-pill px-4">Poznaj nas bliżej <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="realizations" id="realizations">
        <div class="container-fluid p-0">
            <div class="realizations-description p-5 text-center text-xl-start">
                <span>Realizacje</span>
                <h2 class="my-4">Nasze projekty</h2>
            </div>
            <div class="macy-container">
                <a href="../images/realizations1.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations1.jpg" alt="realization1"></a>
                <a href="../images/realizations2.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations2.jpg" alt="realization2"></a>
                <a href="../images/realizations3.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations3.jpg" alt="realization3"></a>
                <a href="../images/realizations4.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations4.jpg" alt="realization4"></a>
                <a href="../images/realizations5.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations5.jpg" alt="realization5"></a>
                <a href="../images/realizations6.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations6.jpg" alt="realization6"></a>
                <a href="../images/realizations7.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations7.jpg" alt="realization7"></a>
                <a href="../images/realizations8.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations8.jpg" alt="realization8"></a>
                <a href="../images/realizations9.jpg" data-lightbox="realizations"><img class="item img-fluid" src="../images/realizations9.jpg" alt="realization9"></a>
                <a href="../images/realizations1.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations1.jpg" alt="realization10"></a>
                <a href="../images/realizations2.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations2.jpg" alt="realization11"></a>
                <a href="../images/realizations3.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations3.jpg" alt="realization12"></a>
                <a href="../images/realizations4.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations4.jpg" alt="realization13"></a>
                <a href="../images/realizations5.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations5.jpg" alt="realization14"></a>
                <a href="../images/realizations6.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations6.jpg" alt="realization15"></a>
                <a href="../images/realizations7.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations7.jpg" alt="realization16"></a>
                <a href="../images/realizations8.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations8.jpg" alt="realization17"></a>
                <a href="../images/realizations9.jpg" data-lightbox="realizations" class="more"><img class="item img-fluid" src="../images/realizations9.jpg" alt="realization18"></a>
            </div>
            <div class="overlay">
                <button type="button" class="btn btn-outline-dark rounded-pill btn-overlay">Rozwiń <i class="bi bi-arrow-down"></i></button>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="box col-10 col-xl-8 mx-auto my-5 p-5 d-flex flex-column flex-md-row justify-content-md-between text-center text-md-start">
                    <div class="description1">
                        <p class="mb-0">Zostańmy w kontakcie!</p>
                        <p>Znajdziesz nas na <span class="fw-bold">Instagramie.</span></p>
                    </div>
                    <div class="description2 mt-2 mt-md-0 d-sm-flex flex-sm-column align-items-sm-center align-items-md-start">
                        <span>Śledź nasze </span><span>najnowsze realizacje!</span>
                        <button type="button" class="btn btn-light rounded-pill mt-3 mt-md-2 mt-xl-3"><a href="https://www.instagram.com/" target="_blank">Instagram</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row p-5">
                <div class="footer-description d-md-flex justify-content-md-between align-items-xl-center px-xl-0">
                    <a href="#"><span class="fw-bold">giard</span>design</a>
                    <div class="footer-contact text-md-end d-xl-flex align-items-xl-center">
                        <p class="my-4 mt-md-0 mb-xl-0">Daj znać, co możemy dla Ciebie zrobić!</p>
                        <button type="button" class="btn rounded-pill mb-3 ms-xl-4 mb-xl-0">Skontaktuj się z nami</button>
                    </div>
                </div>
                <div class="footer-navigation d-xl-flex justify-content-xl-between px-xl-0">
                    <ul class="list-unstyled mt-md-3 d-md-flex justify-content-md-between justify-content-xl-start">
                        <li class="mt-md-0 me-xl-4">Kontakt</li>
                        <li class="mt-3 mt-md-0 me-xl-4">Instagram</li>
                        <li class="mt-3 mt-md-0 me-xl-4">Facebook</li>
                        <li class="mt-3 mt-md-0">LinkedIn</li>
                    </ul>
                    <div class="footer-navigation-contact mt-5 mt-xl-3 d-md-flex justify-content-md-between">
                        <p class="me-xl-4">000-000-000</p>
                        <p>giarddesign@kontakt.pl</p>
                    </div>
                </div>
                <div class="footer-rights mt-5 d-md-flex justify-content-md-between px-xl-0 pt-xl-5">
                    <p>Prawa zastrzeżone © 2022</p>
                    <p class="footer-logo">made by <img class="mb-1" src="../images/logo-full-light.png" alt="logo"></p>
                </div>
            </div>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
</body>
</html>